<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>That One Answer</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <header>
        <h1>
            <a href="/">That One Answer</a>
        </h1>
        <nav>
            {{#if loggedIn}}
            
            {{!-- dropdown nav --}}
            
            <button id="logout">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
            <a href="/create">Create</a>
            <a href="/">Homepage</a>
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>

{{!-- <script src="/javascript/logout.js"></script> --}}
