<article class="wrapper">
    {{#each answers}}
    <div class="title">
       <h3>{{dataValues.title}}</h3>
        <p>Description: {{dataValues.description}}</p>
        <p>User: {{dataValues.user_id}}</p>
    </div>

    {{/each}}
</article>