{{#with answer}}
<article class="card">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
    </div>
        <ol class="list-group list-group-flush">
            {{#each steps}}
            <li class="list-group-item">
                {{dataValues.step_text}}
                <form>
                    <div class="mb-3">
                       <label for="feedback" class="form-label">Feedback</label>
                       <textarea class="form-control" name="new-comment"></textarea> 
                    </div>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
                {{!-- <form class="new-comment">
                 <span class="comment_text">{{dataValues.comment_text}}</span>
                <textarea class="" name="new-comment"></textarea>
                <button type="commit-comment">Comment</button>
                </form>
                {{#if loggedIn}} 
                {{/if}}    --}}
            </li>
            {{/each}}
        </ol>

    <div>
        <form class="step-form">
            <div>
                <textarea name="step-text"></textarea>
            </div>

            <div>
                <button type="submit">Add a step</button>
            </div>
        </form>
    </div>
    {{!-- <div>
        <button type="submit">Save Step</button>
    </div> --}}
</article>
{{/with}}

<script src="/javascript/add-step.js"></script>
