{{#if categories}}
<ol class="category-list">   
    {{#each categories}}
    <li class="card w-50">
        <div class="card-body">
            <a href="/category/{{this.dataValues.id}}">
            <h5 class="card-title">{{this.dataValues.category_name}}</h5>
            </a>
        </div>
    </li>
    {{/each}}

</ol>
{{else}}
<p>Hello world!</p>
{{/if}}