<article class="categories">
    <div class="container">
        <ol class="category-list">
            {{#each category}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ol>
    </div>
</article>