<article class="categories">
    <div class="container">
        <ol class="category-list">
            {{#each categories}}
            hello
            <li>
                   <a href="/answer/{{dataValues.id}}">
                   <h5 class="card-title">{{dataValues.title}}</h5>
                   </a>
            </li>
            {{/each}}
        </ol>
    </div>
</article>

<script src="/javascript/category.js"></script> 

