{{#if checkAuthenticated}}
im auth
{{/if}}

<form class="new">
    <div class="mb-3">
            <label for="cats">Choose a category:</label>

    <select name="formCats" id="formCats">
        <option value="1">A Fresh Install</option>
        <option value="2">gitHub</option>
        <option value="3">Html</option>
        <option value="4">Css</option>
    </select>
    <label for="categoryToChoose" class="form-label">Category</label>

    </div>


    <div class="mb-3">
        <label class="form-label">Enter the Title of your New Answer</label>
        <textarea class="form-control" name="formTitle"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Give us quick description</label>
        <textarea class="form-control" name="formDescription"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>


<script src="/javascript/create-answer.js"></script>