{{#if answers}}
<ol class="answer-list">   
    Answers:
    {{#each answers}}
    <li>
        {{dataValues.title}} -- {{dataValues.description}}
    </li>
    {{/each}}

</ol>
{{else}}
<p>Hello world!</p>
{{/if}}

