{{#if messages.error}}
 {{messages.error}}
{{/if}}
<form class="login-form">

    <div class="mb-3">
        <label class="form-label" for="login-email">Email:</label>
        <input class="form-control" type="text" id="login-email"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="login-password">Password:</label>
        <input class="form-control" type="password" id="login-password"/>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
<br>
<form class="signup-form">
  <div class="mb-3">
    <label class="form-label" for="username-signup">username:</label>
    <input class="form-control" type="text" id="username-signup" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="email-signup">email:</label>
    <input class="form-control" type="text" id="email-signup" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="password-signup">password:</label>
    <input class="form-control" type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>